<?php

$rules = [
    '@PSR2' => true,
//    '@Symfony' => true,
//    '@Symfony:risky' => true,
//    '@PHP71Migration' => true,
    'array_syntax' => ['syntax' => 'short'],
];

$finder = PhpCsFixer\Finder::create()
    ->exclude('somedir')
    ->notPath('src/Symfony/Component/Translation/Tests/fixtures/resources.php')
    ->in(__DIR__ . '/app')
    ->in(__DIR__ . '/config')
    ->in(__DIR__ . '/database')
    ->in(__DIR__ . '/tests')
;

return PhpCsFixer\Config::create()
    ->setRules($rules)
    ->setFinder($finder)
    ->setRiskyAllowed(true)
;
