<?php

$rules = [
    '@PSR2' => true,
    'array_syntax' => ['syntax' => 'short'],
    'cast_spaces' => ['space' => 'none'],
    'class_attributes_separation' => ['elements' => ['method']],
    'combine_consecutive_issets' => true,
    'combine_consecutive_unsets' => true,
    'compact_nullable_typehint' => true,
    'concat_space' => ['spacing' => 'one'],
    'declare_strict_types' => true,
    'dir_constant' => true,
    'ereg_to_preg' => true,
    'function_to_constant' => true,
    'function_typehint_space' => true,
    'linebreak_after_opening_tag' => true,
    'logical_operators' => true,
    'modernize_types_casting' => true,
    'no_blank_lines_after_class_opening' => true,
    'no_blank_lines_after_phpdoc' => true,
    'no_closing_tag' => true,
    'no_empty_comment' => true,
    'no_empty_phpdoc' => true,
    'no_empty_statement' => true,
    'no_mixed_echo_print' => ['use' => 'echo'],
    'no_multiline_whitespace_around_double_arrow' => true,
    'no_short_echo_tag' => true,
    'no_trailing_comma_in_list_call' => true,
    'no_trailing_whitespace' => false,
    'no_unused_imports' => true,
    'no_useless_else' => true,
    'no_useless_return' => true,
    'no_whitespace_in_blank_line' => true,
    'not_operator_with_space' => false,
    'self_accessor' => true,
    'short_scalar_cast' => true,
    'single_blank_line_before_namespace' => true,
    'space_after_semicolon' => true,
    'standardize_increment' => true,
    'static_lambda' => true,
    'strict_comparison' => true,
    'ternary_operator_spaces' => true,
    'ternary_to_null_coalescing' => true,
    'void_return' => true,
];

$finder = PhpCsFixer\Finder::create()
    ->exclude('somedir')
    ->notPath('src/Symfony/Component/Translation/Tests/fixtures/resources.php')
    ->in(__DIR__ . '/app')
    ->in(__DIR__ . '/config')
    ->in(__DIR__ . '/database')
    ->in(__DIR__ . '/routes')
    ->in(__DIR__ . '/tests')
;

return PhpCsFixer\Config::create()
    ->setRules($rules)
    ->setFinder($finder)
    ->setRiskyAllowed(true)
;
